
body{
    background-color: green;
}

#dealer-card img
{
    width: 100px;
    height: auto;
    border: 1px rgb(112, 112, 112) solid;
}

#you-card img
{
    width: 100px;
    height: auto;
    border: 1px rgb(112, 112, 112) solid;
}