
.navbar{
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 1rem;
    border:  1px solid black;
    
}
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    animation: dropdownAnimation 0.5s ease;
    border:none;
}



.Login-button:hover
{
background-color:#5dbea3 ;

}


.navbar-toggler
{
    border:none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,.btn-close:focus
{
    box-shadow: none;
    outline:none;
}

.nav-link
{
    color:grey;
    font-weight:500;
    position: relative;
}
.nav-link:hover,.nav-link.active
{
    color: black;
}

@media (min-width: 991px)
{
    .nav-link::before
    {
        content:"";
        position:absolute;
        bottom:0;
        left: 50%;
        transform:translateX(-50%) ;
        width: 0;
        height: 2px;
        background-color: #33b249;
        visibility: hidden;
        transition: 0.1s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before
    {
        width: 100%;
        visibility: visible;
    }
}

.hero-section
{
    background: url(./sfondo.jpg) no-repeat center; 
    background-size: cover;
    width: auto;
    height: 100vh;
   
    z-index: -1;
    padding-top: 120px;

}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

