body
{
  background-color: rgb(8, 8, 8);
  font-family: colleges;

}

p {
  line-height: 2.5; /* Esempio di line-height con un fattore di 1.5 rispetto alla dimensione del carattere */
}


@font-face {
  font-family: 'Freshman';
  src: url('./font/colleges.ttf') format('truetype'); /* Specifica il percorso del file del font */
}

@media only screen and (min-width: 991px) 
{
  .spazio-ab
  {
    justify-content: space-between;
  }

  .distanza-orario
  {
    right: 40px;
  }
  #scritta-inizio{
    font-size: 100px;
  }



}



.distanza-orario
{
  right: 12px;
}




@media only screen and (max-width: 990px) {

      .nav-link 
    {
    border-block-end: 0.5px solid; 
    writing-mode: horizontal-tb;
    }

    .spazio-ab
    {
      justify-content: center;
    }

    #scritta-inizio{
      font-size: 50px;
    }
    
}

#scritta-inizio{
  z-index:100;
  color: beige; 
  position : absolute; 
  top:50%;  left: 50%; 
  transform: translate(-50%, -50%);
 
}


.head-banner
{
  background-color: rgb(51, 51, 51);
  width: 100%;
  padding-bottom: 56.25%;
  background-image: url(./palestra_sfondo.jpg);
  background-size: cover;
  position: relative;
 background-blend-mode: multiply ;
 
}


.head-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navbar
{
  background-color: rgb(255, 136, 0);
}

.dropdown-menu
{
background-color: rgb(58, 55, 55);
}

.colore
{
  color: rgb(168, 168, 168);
}
.navbar-toggler
{
color: rgba(255, 0, 0, 0);
border-color: rgba(255, 255, 255, 0);
}




.sfondo-prezzi
{

  background-color: aliceblue;
  height: 40rem;
  width: 24rem;

  
}

.abbonati
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.row>* {

  padding-right: calc(var(--bs-gutter-x)* .0);
  padding-left: calc(var(--bs-gutter-x)* .0);
 
}